// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.content-container{
    background-color:#383838;
    color:white;
}
.header{
    box-shadow: 0 1 px 13px -1px #000000;
}
.footer{
    box-shadow: 0 1px 13px -1px #000000;
    background-color: #001d75;
    color:white;
}